<ion-view>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon ion-ios-plus-empty" ng-click="addTask()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item" type="item-text-wrap" href="#/tab/customers/{{customer.id}}/tasks/taskid">
                <span class="item-note">
                    Hver 4. uge
                </span>
                <h2><strong>Vinduespolering</strong></h2>
                <p>Eksternt glas</p>
            </div>
            <div class="item" type="item-text-wrap" href="#/tab/customers/{{customer.id}}/tasks/taskid">
                <span class="item-note">
                    Hver 12. uge
                </span>
                <h2><strong>Vinduespolering</strong></h2>
                <p>Internt glas</p>
            </div>
        </div>
    </ion-content>
</ion-view>
