<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <div class="buttons">
            <button class="button button-clear" ng-click="cancelAddCustomer()">Annuller</button>
        </div>
      <h1 class="title">Ny kunde</h1>
      <div class="buttons">
            <button class="button button-clear">OK</button>
        </div>
    </ion-header-bar>
    <ion-content>
      <form name="userForm" novalidate>
            <div class="list">
                <label class="item-input" style="border-bottom: 1px solid #ddd">
                    <input type="text" name="firstName" placeholder="Navn" ng-model="contact.name" required ng-pattern="/[a-zA-Z0-9]{2}/">
                </label>
            </div>
          
            <div class="list padding-top">
                <div class="item item-divider">Kontaktoplysninger</div>
                <label class="item item-input">
                    <span class="input-label positive" align="right">Adresse</span>
                    <input type="text" ng-model="contact.address">
                </label><label class="item item-input">
                    <span class="input-label positive" align="right">Telefon</span>
                    <input type="text" ng-model="contact.phone">
                </label>
                <label class="item item-input">
                    <span class="input-label positive" align="right">Email</span>
                    <input type="email" name="emailAddress" ng-model="contact.email" required>
                </label>

            </div>
          
          <div class="list padding-top">
                <div class="item item-divider">Arbejde</div>
                <a class="item item-icon-right">
                    <h2>Vinduespolering</h2>
                    <p>Eksternt glas - hver 4. uge
                </a>    
                <label class="item item-input">
                    <span class="input-label positive" align="right">Telefon</span>
                    <input type="text" ng-model="contact.phone">
                </label>
                <label class="item item-input">
                    <span class="input-label positive" align="right">Email</span>
                    <input type="email" name="emailAddress" ng-model="contact.email" required>
                </label>
                <label class="item item-input">
                    <span class="input-label positive" align="right">Adresse</span>
                    <input type="text" ng-model="contact.address">
                </label>
            </div>
        </form>

    </ion-content>
  </ion-modal-view>

<!--ion-modal-view>
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <button class="button" ng-click="cancelAddCustomer()">Annuller</button>
        </div>
        <h1 class="title">Ny kunde</h1>
        <div class="buttons">
            <button class="button">OK</button>
        </div>
    </ion-header-bar>
    <ion-content has-header="true">

        <form name="userForm" novalidate>
            <div class="list">
                <label class="item-input" style="border-bottom: 1px solid #ddd">
                    <input type="text" name="firstName" placeholder="Navn" ng-model="contact.name" required ng-pattern="/[a-zA-Z0-9]{2}/">
                </label>

            </div>
            <div class="list">

                <label class="item item-input">
                    <span class="input-label positive" align="right">Telefon</span>
                    <input type="text" ng-model="contact.phone">
                </label>
                <label class="item item-input">
                    <span class="input-label positive" align="right">Email</span>
                    <input type="email" name="emailAddress" ng-model="contact.email" required>
                </label>

                <label class="item item-input">
                    <span class="input-label positive" align="right">Adresse</span>
                    <input type="text" ng-model="contact.address">
                </label>

            </div>
        </form>

    </ion-content>
<ion-modal-view-->
