<ion-view>
    <ion-content>
        <div class="list">
            <div class="item" ng-repeat="entry in entries | orderBy:'date'">
                <span class="item-note">
                    {{entry.total | currency:''}}
                </span>
                <h2>{{entry.routeName}}</h2>
                <p><span class="balanced"><i class="icon ion-ios7-timer-outline"></i>&nbsp;{{entry.date}}</span></p>
            </div>
            <!--div class="item">
                <span class="item-note">
                    3.443kr
                </span>
                <h2>Vodskov</h2>
                <p><span class="assertive"><i class="icon ion-ios7-timer-outline"></i>&nbsp;3 dage siden</span></p>
            </div>
            <div class="item">
                <span class="item-note">
                    2.746kr
                </span>
                <h2>Hjørring</h2>
                <p><span class="balanced"><i class="icon ion-ios7-timer-outline"></i>&nbsp;i dag</span></p>
            </div>

            <div class="item">
                <span class="item-note">
                    3.435kr
                </span>
                <h2>Nørresundby</h2>
                <p><span class="balanced"><i class="icon ion-ios7-timer-outline"></i>&nbsp;2 dage</span></p>

            </div>

            <div class="item">
                <span class="item-note">
                    1.945kr
                </span>
                <h2>Støvring</h2>
                <p><span class="positive"><i class="icon ion-ios7-timer-outline"></i>&nbsp;8 dage</span></p>
                
            </div-->

        </div>
    </ion-content>
</ion-view>
