<ion-view view-title="Indstillinger>"
    <ion-content>
        <div class="list" href="/tab/settings/profile">
            <a class="item">
                <h2>Din profil</h2>
                <p>{{context.user.name}}, {{context.user.address}}</p>
            </a>
            <!--label class="item item-input item-stacked-label">
                <span class="input-label">Navn</span>
                <input type="text" placeholder="Dit navn">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Telefonnummer</span>
                <input type="text" placeholder="+45">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Din emailadresse">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Adresse</span>
                <input type="text" placeholder="F.eks.: Ågade 1, 4000 Roskilde">
            </label-->
            

        </div>
        <button class="button button-block button-assertive">Log ud</button>
    </ion-content>
</ion-view>
