<ion-tabs class="tabs-icon-top tabs-background-dark tabs-color-light">

  <ion-tab title="Kunder" icon-off="ion-ios7-people-outline" icon-on="ion-ios7-people" href="#/tab/customers">
    <ion-nav-view name="tab-customers"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Kørebog" icon-off="ion-ios7-bookmarks-outline" icon-on="ion-ios7-bookmarks" href="#/tab/logbooks">
    <ion-nav-view name="tab-logbooks"></ion-nav-view>
  </ion-tab>
    
  <ion-tab title="Indstillinger" icon-off="ion-ios7-gear" icon-on="ion-ios7-gear-outline" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
